.news {
    margin: 80px auto;
}

.news-items {
    @include magic-margin-reset;

    &:not(:last-child) {
        margin-bottom: 40px;
    }
}

.news-item {
    @include inline-block;

    border-radius: 3px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.1);
    margin-right: 40px;
    overflow: hidden;
    transition: box-shadow 0.4s ease, transform 0.4s ease;

    width: calc(50% - 20px);

    &:hover {
        box-shadow: 0 6px 8px 0 rgba(0,0,0,0.1);
        transform: translateY(-3px);
    }

    &__image {
        background-color: #dddddd;
        padding-bottom: 56.48%;
        width: 100%;

        & img {
            position: absolute;
            top: 0;
            left: 0;
        }

        & svg {
            transform: translate(-50%, -50%);

            position: absolute;
            top: 50%;
            left: 50%;

            height: 40%;
            width: 40%;
        }

        & path, circle {
            fill: $blue;
        }
    }

    &__content {
        background-color: $white;
        padding: 26px 32px;
    }

    &__title {
        color: $blue;
        font-family: $font-montserrat;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.01em;
        line-height: 1.5em;
        margin-bottom: 18px;
    }

    &__desc {
        color: #333;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.02em;
        line-height: 1.4em;
    }

    &__info {
        margin-top: 16px;
    }

    &__owner {
        color: $blue;
        font-size: 16px;
    }
}


@include res-from(1200px) {
    .news-item {
        &:nth-child(n + 3) {
            margin-top: 40px;
        }
    }
}

@include res-to(1200px) {
    .news-items {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
}

@include res(768px, 1200px) {
    .news {
        margin: 60px auto;
    }

    .news-item {
        margin-right: 32px;
        width: calc(50% - 16px);

        &:nth-child(n + 3) {
            margin-top: 32px;
        }

        &__title {
            font-size: 18px;
            line-height: 1.3em;
        }

        &__desc {
            font-size: 15px;
        }

        &__owner {
            font-size: 15px;
        }
    }
}

@include res-from(768px) {
    .news-item {
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
}

@include res-to(767px) {
    .news {
        margin: 40px auto;
    }

    .news-item {
        margin-top: 32px;
        margin-right: 0;
        width: 100%;

        &:first-child {
            margin-top: 0;
        }

        &__content {
            padding: 24px;
        }

        &__title {
            font-size: 18px;
            line-height: 1.3em;
        }

        &__desc {
            font-size: 14px;
        }

        &__owner {
            font-size: 14px;
        }
    }
}